</head>

<body>
    <nav class="navbar navbar-expand-lg background">
        <div class="container-fluid">
            <a class="navbar-brand" style="color:#00b8d9" href="/">Password Strength Checker</a>
        </div>
    </nav>